{% extends "layout.html" %} {% block title %}
<title>Sales Order Report</title>
{% endblock title %} {% block styles %}
<!-- External styles -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> {% endblock styles %}
{% block main %}
<div id="intro" class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Sales Order Report Program</span>
          <p>Instructions:</p>
          <ol>
            <li>Update Bills of Materials and Stock on Hand if needed.</li>
            <li>Create an excel spreadsheet with a header of "Product Code".</li>
            <li>List the product codes, one for each row, you wish to generate a sales order report below the header.</li>
            <li>Browse for the excel spreadsheet using the Browse button below or simply drag and drop.</li>
            <li>Click submit to generate the sales order report. It may take a minute.</li>
          </ol>
          <p>You may download a sample template <a href="{{ url_for('static', filename='excel_template/sales_order_template.xlsx') }}"
              class="blue-text">here</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="user-input" class="container">
  <div class="row">
    <div class="col s12">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in
      messages %}
      <div id="flash-toast" class="toast" style="{{ category }}">
        {{ message }}
        <i id="flash-close" class="material-icons">cancel</i>
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </div>
  </div>
  <div class="row">
    <div class="col s12 l6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Update Bills of Materials</span>
          <p>To update the bills of materials database please click to button below.</p>
          <p class="last-update">Last update on {{ bom_data.last_update }} PST</p>
        </div>
        <div class="card-action">
          <a id="bom-update-btn" href="{{ url_for('update_bom') }}" class="btn waves-effect waves-light update-btn">Update</a>
        </div>
      </div>
    </div>
    <div class="col s12 l6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Update Stock On Hand</span>
          <p>To update the stock on hand database please click to button below.</p>
          <p class="last-update">Last update on {{ soh_data.last_update }} PST</p>
        </div>
        <div class="card-action">
          <a id="soh-update-btn" href="{{ url_for('update_soh') }}" class="btn waves-effect waves-light update-btn">Update</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <form method="POST" enctype="multipart/form-data" action="">
        {{ form.hidden_tag() }}
        <div class="card">
          <div class="card-content">
            <span class="card-title">Product Import</span>
            <div class="file-field input-field">
              <div id="browse-btn" class="btn">
                <span>Browse</span>
                {{ form.upload(type="file") }}
              </div>
              <div class="file-path-wrapper">
                {% if form.upload.errors %}
                <input class="file-path validate" type="text" placeholder="Upload file">
                {% for error in form.upload.errors %}
                <span class="helper-text" style="color: #f44336">{{ error }}</span>
                {% endfor %}
                {% else %}
                <input class="file-path validate" type="text" placeholder="Upload file">
                {% endif %}
              </div>
            </div>
          </div>
          <div class="card-action">
            {{ form.submit(id="submit-btn", class="btn disabled") }}
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Completed Sales Reports</span>
          {% for report in reports %}
          {% if report != ".gitignore" %}
          <a href="static/doc/export/{{ report }}" class="report">
            <p>{{ report }}</p>
          </a>
          {% endif %}
          {% endfor %}
        </div>
        <div class="card-action">
          <!-- Modal Trigger -->
          <button id="delete-reports-btn" data-target="modal1" class="btn modal-trigger">Delete Files</button>
          <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <div class="modal-content">
              <p>Are you sure you want to delete all sales order reports?</p>
            </div>
            <div class="modal-footer">
              <a href="javascript:voide(0)" class="btn waves-effect waves-light modal-close">No</a>
              <a href="{{ url_for('delete_reports') }}" class="btn waves-effect waves-light modal-close red">Yes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large blue">
    <i class="large material-icons">layers</i>
  </a>
  <ul>
    <li><a href="{{ url_for('logout') }}" class="btn-floating tooltipped red" data-position="left" data-tooltip="Logout"><i
          class="material-icons">gesture</i></a></li>
  </ul>
</div>
<div class="spinner">
  <div class="dot1"></div>
  <div class="dot2"></div>
</div>
{% endblock main %}
{% block scripts %}
<!-- External JavaScript -->
<script src="{{ url_for('static', filename='js/index.js') }}"></script> {% endblock scripts %}